@import 'https://fonts.googleapis.com/css?family=Open+Sans|Marcellus';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
  font-family: 'Open Sans', serif;
  color: #4A4A4A;
}

body {
  background-color: #F7F7F7;
}

header, section, blockquote {
  position: relative;
  margin: 0 auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

h1 {
  font-size: 2rem;
  font-family: 'Marcellus', serif;
  color: #3B6A73;
}

h2 {
  color: #A34B37;
  font-family: 'Marcellus', serif;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: .8rem;
  font-weight: bold;
  color: #9AAD2B;
}

a {
  color: #A34B37;
}

p {
  line-height: 1.4;
  color: #221715;
}

.hidden {
  display: none;
}

.logo {
  height: 3rem;
  background-image: url(images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;

  font-family: 'Marcellus', serif;
  color: #3B6A73;
  font-size: 2rem;

  display: flex;
  align-items: center;
  padding-left: 2rem;
}

header {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, .85);

  position: fixed;
  height: 4rem;
  top: 0;
  width: 100%;
  z-index: 2;
}

.button {
  color: #3B6A73;
  border: .15rem solid #9AAD2B;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  padding: .7rem 1.6rem;
  border-radius: 1.5rem;
}

.button:hover {
  border-color: #3B6A73;
}

.carousel {
  margin-bottom: 3rem;
  height: 50vw;
  max-height: 35rem;
  width: 100%;

  position: relative;

  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.carousel .image {
  position: absolute;
  transform: translateX(100vw);
  top: 0;
  width: 100vw;
  height: 100%;
  transition: transform 1s linear 0s;
  opacity: 0;

  background-size: cover;
  background-position: center;
}

.carousel .image.old {
  transform: translateX(-100vw);
  opacity: 1;
}

.carousel .image.current {
  transform: translateX(0);
  opacity: 1;
}

.carousel .image.bathroom {
  background-image: url(images/bathroom.jpg);
}

.carousel .image.bedroom {
  background-image: url(images/bedroom.jpg);
}

.carousel .image.kitchen {
  background-image: url(images/kitchen.jpg);
}

section, blockquote {
  padding: 1.5rem 1.5rem;
  margin-bottom: 3rem;
  max-width: 700px;

  border-radius: .2rem;

  text-align: center;
  background-color: white;
}

section h2 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.5rem;

  margin-left: -1.5rem;
  margin-right: -1.5rem;
  margin-top: -1.5rem;
  background-color: #3B6A73;
  color: white;
  padding: 1rem;
  border-top-left-radius: .2rem;
  border-top-right-radius: .2rem;
}

blockquote {
  padding: 2rem 2rem 1rem 2rem;
  border-left: .25rem solid #3B6A73;
  text-align: left;
}

blockquote .attribution {
  margin-top: 1rem;
  text-align: right;
  color: #3B6A73;

  font-size: 1.2rem;
}

.attribution .title {
  margin-top: .3rem;
  color: #777777;
  font-size: .9rem;
  font-style: italic;
}

.subsection {
  margin: 0 3rem 3rem 3rem;
  display: flex;
  text-align: left;
}

.subsection > *:not(:last-child) {
  margin-right: 2rem;
}

.subsection .content {
  flex: 1;
}

.subsection:first-child {
  margin-top: 3rem;
}

.content img {
  float: left;
  margin-right: 2rem;
  margin-bottom: 2rem;
  width: 50%;
}

.content p:not(:last-child) {
  margin-bottom: 1rem;
}

.subsection img.icon {
  width: 7rem;
  height: 7rem;
}

.subsection img.badgeicon {
  height: 14rem;
}

.map {
  background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=40.035612,-105.098557&zoom=10&size=400x400&key=AIzaSyDZX7Qk75ghpycY725BiZwkk-icoQpba_w);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 2rem;
  display: flex;
  flex-direction: row-reverse;
}

.map ul {
  background-color: rgba(59, 106, 115, .8);
  color: white;
  border-radius: .2rem;
  padding: 1rem;
  padding-left: calc(1rem + 20px);
  height: 100%;
}

footer {
  background-color: #3B6A73;
  color: white;
  font-size: .8rem;

  display: flex;
  justify-content: space-between;;
  align-items: center;

  padding: 1rem 2rem 1.5rem;
}

footer a {
  color: white;
}

footer i.fa {
  font-size: 2rem;
}

footer a:not(:last-child) {
  margin-right: 1.5rem;
}

footer .fine-print:not(:last-child) {
  margin-bottom: .3rem;
}

footer .bottom {
  align-self: flex-end;
}

.angies-list {
  background-image: url('images/angiesList.svg');
  background-size: cover;
  display: inline-block;
  height: 2rem;
  width: 2.2rem;
  background-repeat: no-repeat;
}

ul {
  color: #221715;
  margin-left: 25px;
}

ul.check {
  margin-left: 25px;
}

ul.check li {
  list-style-type: none;
  list-style-image: url('data:image/svg+xml;utf8,<svg height="12px" width="12px" id="Layer_1" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M21.652,3.211c-0.293-0.295-0.77-0.295-1.061,0L9.41,14.34  c-0.293,0.297-0.771,0.297-1.062,0L3.449,9.351C3.304,9.203,3.114,9.13,2.923,9.129C2.73,9.128,2.534,9.201,2.387,9.351  l-2.165,1.946C0.078,11.445,0,11.63,0,11.823c0,0.194,0.078,0.397,0.223,0.544l4.94,5.184c0.292,0.296,0.771,0.776,1.062,1.07  l2.124,2.141c0.292,0.293,0.769,0.293,1.062,0l14.366-14.34c0.293-0.294,0.293-0.777,0-1.071L21.652,3.211z" fill-rule="evenodd"/></svg>');
}

ul li {
  list-style-type: disc;
  list-style-position: outside;
  margin-bottom: .7rem;
}

.better-business-bureau {
  text-align: center;
  margin-bottom: 3rem;
}

@media (max-width: 660px) {
  html {
    font-size: 12px;
  }

  header {
    padding: 0 1rem;
  }

  section, blockquote {
    max-width: calc(100vw - 2rem);
    margin-bottom: 1rem;
  }

  .better-business-bureau {
    margin-bottom: 1rem;
  }

  .subsection {
    margin: 0 1rem 2rem 1rem;
  }

  .subsection img.badgeicon {
    display: none;
  }

  .hide-mobile {
    display: none;
  }

  footer {
    flex-direction: column-reverse;
  }

  footer .bottom {
    align-self: auto;
  }

  footer > div:not(:last-child) {
    margin-top: 1rem;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 10px;
  }
}
