@import 'https://fonts.googleapis.com/css?family=Open+Sans|Marcellus';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  /* we should check this one out later! */
  /* font-size: 2vw; */
  font-size: 16px;
  font-family: 'Open Sans', serif;
  color: #4A4A4A;
}

body {
  background-color: #F7F7F7;
}

header, section {
  position: relative;
  margin: 0 auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

h1 {
  font-size: 2rem;
  font-family: 'Marcellus', serif;
  color: #3B6A73;
}

h2 {
  color: #A34B37; /*color: #9AAD2B;leaf green*/
  font-family: 'Marcellus', serif;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: .8rem;
  font-weight: bold;
  color: #9AAD2B;
}

p {
  line-height: 1.4;
  color: #221715;
}

.logo {
  height: 3rem;
  background-image: url(images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;

  font-family: 'Marcellus', serif;
  color: #3B6A73;
  font-size: 2rem;

  display: flex;
  align-items: center;
  padding-left: 2rem;
}

header {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, .85);

  height: 4rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.button {
  color: #3B6A73;
  border: .15rem solid #9AAD2B;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  padding: .7rem 1.6rem;
  border-radius: 1.5rem;
}

.button:hover {
  border-color: #3B6A73;
}

.carousel {
  margin-bottom: 3rem;
  height: 50vw;
  max-height: 35rem;
  width: 100%;

  position: relative;

  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.carousel .image {
  position: absolute;
  transform: translateX(100vw);
  top: 0;
  width: 100vw;
  height: 100%;
  transition: transform 1s linear 0s;
  opacity: 0;

  background-size: cover;
  background-position: center;
}

.carousel .image.old {
  transform: translateX(-100vw);
  opacity: 1;
}

.carousel .image.current {
  transform: translateX(0);
  opacity: 1;
}

.carousel .image.bathroom {
  background-image: url(images/bathroom.jpg);
}

.carousel .image.bedroom {
  background-image: url(images/bedroom.jpg);
}

.carousel .image.kitchen {
  background-image: url(images/kitchen.jpg);
}

section {
  padding: 1.5rem 1.5rem;
  margin-bottom: 3rem;
  max-width: 700px;

  border-radius: .2rem;

  text-align: center;
  background-color: white;
}


section h2 {
  color: #3B6A73;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid #979797;
  font-size: 1.5rem;
}

.subsection {
  margin: 0 3rem 3rem 3rem;
  display: flex;
  text-align: left;
}

.subsection > *:not(:last-child) {
  margin-right: 2rem;
}

.subsection .content {
  flex: 1;
}

.content img {
  float: left;
  margin-right: 2rem;
  margin-bottom: 2rem;
  width: 50%;
}

.content p:not(:last-child) {
  margin-bottom: 1rem;
}

.subsection img.icon {
  width: 7rem;
  height: 7rem;
}

.subsection img.badgeicon {
  width: 14rem;
  height: 14rem;
}

footer {
  background-color: #3B6A73;
  color: white;
  font-size: .8rem;

  display: flex;
  justify-content: space-between;;
  align-items: center;

  padding: 1rem 2rem 1.5rem;
}

footer a {
  color: white;
}

footer i.fa {
  font-size: 2rem;
}

footer a:not(:last-child) {
  margin-right: 1.5rem;
}

footer .fine-print:not(:last-child) {
  margin-bottom: .3rem;
}

footer .bottom {
  align-self: flex-end;
}

.angies-list {
  background-image: url('images/angiesList.svg');
  background-size: cover;
  display: inline-block;
  height: 2rem;
  width: 2.2rem;
  background-repeat: no-repeat;
}

ul {
  color: #221715;
  /*color: #3B6A73;*/
}

ul li:before {
  content: '•';
  margin-right: .7rem;
}

ul.check li:before {
  content: '✔';
  margin-right: .7rem;
}

ul li {
  margin-bottom: .7rem;
}
